@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    padding: 10px 18px;
    background-color: #541a8b;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

hr {
    opacity: 0.3;
    width: 90%;
    margin: 0 auto 40px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #541a8b;
    padding: 14px 0px;
    border-radius: 0px 0px 32px 32px;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar #logo {
    font-size: 26px;
    margin: 12px 0px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
}

#navbar a {
    text-decoration: none;
    color: #fff;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu .menuItem {
    list-style: none;
    margin: 0px 16px;
    font-size: 22px;
    font-weight: bold;
}

#menu .menuItem a {
    color: #fff;
    padding: 6px 2px;
}

#menu .menuItem a:hover {
    border-bottom: 2px solid #fff;
}

#intro {
    margin: 165px 0px 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro #description {
    width: 450px;
    position: relative;
    top: -25px;
}

.descripItem {
    font-size: 25px;
    margin: 20px 0px;
    padding: px;
}

#intro #description h1 {
    color: #541a8b;
    letter-spacing: 0.75px;
    font-size: 32px;
}

#intro #description p {
    font-size: 24px;
}

#intro #description a {
    border-radius: 20px 4px 20px 4px;
}

#intro #description a:hover {
    border-radius: 4px 20px 4px 20px;
    transition: 1s;
}

#intro #image img {
    width: 800px;
}

.dialogBox {
    position: fixed;
    top: 35%;
    left: 35%;
    background-color: #fff;
    padding: 34px;
    box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.7);
    display: none;
}

.active {
    display: block;
}

.dialogBox svg {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.dialogBox h2 {
    font-size: 32px;
    color: #541a8b;
    margin: 14px 0px 18px 0px;
}

.dialogBox form #userName {
    font-size: 20px;
    outline: 0;
    padding: 8px 12px;
    margin-bottom: 16px 8px;
}

#dialogBox form {
    display: grid;
    grid-template-columns: 320px 110px;
    column-gap: 2px;
}

#dialogBox .form small {
    color: red;
}

table {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 140px;
    font-size: 19px;
}

table thead {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid red;
}

table tbody .returnBtn button {
    padding: 4px 8px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    border: #ccc;
    color: #fff;
    border-radius: 4px;
    background-color: rgb(243, 38, 38);

}

table th {
    padding: 16px 4px;
    background-color: #541a8b;
    color: #fff;
}

table td {
    padding: 12px 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

#myBooks #msg p {
    width: 350px;
    margin: 15px auto;
    font-size: 30px;
    color: #541a8b;
    font-weight: bold;
}

#issueBooks h1 {
    color: #541a8b;
    font-size: 28px;
    border-bottom: 2px solid #541a8b;
    width: 161px;
}

#issueBooks {
    width: 400px;
    margin: 16px auto;
    margin-bottom: 60px;
    /* background-color: #ccc; */
}

#issueBooks .formElement {
    margin: 10px 0;
    /* width: 100%; */
}

#issueBooks .formElement label {
    display: block;
    margin-left: 4px;
    font-size: 19px;
}

#issueBooks .formElement input,
select {
    padding: 8px 12px;
    width: 100%;
    font-size: 19px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#issueBooks .formElement select {
    margin-bottom: 6px;
}

#issueBooks #submit2 {
    padding: 6px 12px;
    width: 100%;
}

#heading {
    grid-area: heading;
    /* text-align: center; */
    width: 132px;
    color: #541a8b;
    margin: 16px auto;
    border-bottom: 2px solid #541a8b;
}

#image {
    grid-area: image;
}

#form {
    grid-area: form;
}

#contact {
    display: grid;
    grid-template-areas:
        'heading heading'
        'image form';
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto 50px auto;
    border-radius: 8px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}

#contact img {
    width: 500px;
}

#contact form {
    position: relative;
    top: -20px;
    /* width: 500px; */
    /* border: 1px solid red; */
}

#contact form input,
textarea {
    display: block;
    margin: 8px 0;
    outline: none;
    padding: 8px 80px 8px 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 20px;
    resize: none;
}

#contact form a {
    padding: 8px 16px;
    position: relative;
    top: 6px;
    width: 200px;
    /* margin-top: 60px; */
}

#footer {
    background-color: #9455ce89;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}

#footer .footerEle {
    margin: 14px 4px;
}

#footer .social {
    cursor: pointer;
    color: rgba(2, 2, 2, 0.85);
}

#footer .social:hover {
    color: rgba(2, 2, 2, 1.0);

}